@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #070707;
}

li, a, button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  color: greenyellow;
}

header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}

.nav-links li {
  display: inline-block;
  padding: 0px 40px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: white;
}

.logo {
  cursor: pointer;
}

button {
  padding: 9px 25px;
  background-color: greenyellow;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: black;
}

button:hover{
  background-color: white;
}

.logo{
  font-family: "Protest Strike";
  color: greenyellow;
  font-size:larger;
}

@media (max-width: 650px) {
  .contact button {
    display: none;
  }
}

@media (max-width: 550px) {
  .logo{
    margin-bottom: 20px;
    align-items: flex-start;
  }
}

main{
  display: flex;
  width: 100%;
  padding: 50px;
}

img{
  object-fit: cover;
  width: 50%;
  justify-content: center;
}

section{
  display: flex;
  width: 50%;
  color: white;
  margin: 20px 20px;
  flex-direction: column;
  justify-content: space-around;
}

section h1{
  font-family: "Bebas Neue", sans-serif;
  font-size: 8vw;
}

section p{
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}