*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
  display: flex;
}

li{
  background-color: rebeccapurple;
  width:100%;
  display: flex;
  color: white;
  justify-content: flex-end;
  height: 45px;
  align-items: center;
  padding: 0 30px;
}

a{
  color: white;
  list-style: none;
  text-decoration: none;
}

.name{
  justify-content: flex-start;
  font-weight: 650;
}
